# Object files
*.pdf
*.tar.gz
*.log
*.aux
*.o
*.ko
*.obj
*.elf
*.csv

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#metadata per ide
.idea
.project
.cproject

#others executables
test
pcs-prealloc 
traffic  	 
tcar	 
robot_explore
hash 		 
phold
pholdcount
pcs
/tcar
log_test/*
/pcs_lf
/pcs_sl
/phold_lf_hi
/phold_lf_nohi
/phold_sl_hi
/phold_sl_nohi
/log_test/

