#!/bin/bash

MAX_SKIPPED_LP_list="1000000"
LP_list="60"							#numero di lp
THREAD_list="20"						#numero di thread
TEST_list="phold"						#test
RUN_list="0 1 2 3 4"							#lista del numero di run

FAN_OUT_list="1" 						#lista fan out
LOOKAHEAD_list="0"		 				#lookahead
LOOP_COUNT_list="500" 					#loop_count 

CKP_PER_list="50"
PUB_list="0.33"
EPB_list="3"

MAX_RETRY="10"
TEST_DURATION="120"

BEGIN="BEGIN TEST:.............$(date +%d)/$(date +%m)/$(date +%Y) - $(date +%H):$(date +%M)"
CURRT="CURRENT TEST STARTED AT $(date +%d)/$(date +%m)/$(date +%Y) - $(date +%H):$(date +%M)"

POWERCAP_SAMPLE_FILTERING_list="0 1"
PSTATE_list="0"
HEURISTIC_MODE_list="10 11"
POWER_LIMIT_list="50.0 55.0"
STATIC_PSTATE="1"
CORES="20 40"
STARTING_THREADS="10"
POWERCAP_OBSERVATION_PERIOD_list="50 100 200 300 500 1000"
POWERCAP_WINDOW_SIZE_list="10"

FOLDER="results/results_phold_h_new"
RES_FOLDER="results/plots_phold_h_new"
